<nav class="menu">
  <ul>
    <li class="active">
      <a href="" >
        <span class="nav-indicator"></span>
        <span>About</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="nav-indicator"></span>
        <span>Experience</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="nav-indicator"></span>
        <span>Skills</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="nav-indicator"></span>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="nav-indicator"></span>
        <span>Contact</span>
        <!-- svg icon -->
    
      </a>
    </li>
    <li>
      <a href="">
        <span class="nav-indicator"></span>
        <span class="whatsapp-color">Contact</span>
      </a>
    </li>
  </ul>
</nav>
